interface {{.LocalIface}}
 no switchport
interface {{.LocalIface}}.{{ .Current.Fields.vlan }}
 description {{.Name}}
 encapsulation vlan
  client dot1q {{ .Current.Fields.vlan }}
  exit
exit
{{ if len(.Others) }}{{ peer := .Others[0] }}{{ if peer.NeighborIP }}
mpls ldp
 pseudowires
  pseudowire {{.Name}}
   neighbor {{ peer.NeighborIP }}
   pseudowire-id {{.ServiceNumericID}}
   mtu {{ .Vars.mtu ? .Vars.mtu : (.Fields.mtu ? .Fields.mtu : 9100) }}
   control-word
  exit
 exit
exit
patch panel
 patch {{.Name}}
  connector 1 interface {{.LocalIface}}.{{ .Current.Fields.vlan }}
  connector 2 pseudowire ldp {{.Name}}
 exit
exit
{{ else }}
interface {{ peer.LocalIface }}
 no switchport
interface {{ peer.LocalIface }}.{{ peer.Fields.vlan }}
 description {{.Name}}
 encapsulation vlan
  client dot1q {{ peer.Fields.vlan }}
  exit
exit
patch panel
 patch {{.Name}}
  connector 1 interface {{.LocalIface}}.{{ .Current.Fields.vlan }}
  connector 2 interface {{ peer.LocalIface }}.{{ peer.Fields.vlan }}
 exit
exit
{{ end }}{{ end }}
