
# factum-web.service, start factum web

[Unit]
Description=Factum web
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/factum2
ExecStart=/opt/factum2/factum-web -f /etc/factum2/factum2.yaml start
TimeoutStopSec=10s

Restart=on-failure
RestartSec=10
StartLimitInterval=60

[Install]
WantedBy=multi-user.target
